@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-gravitas: var(--font-gravitas-one);
  --font-kotta: var(--font-kotta-one);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

:target {
  /* Seleciona o elemento quando ele é o destino de um link de âncora */
  scroll-margin-top: 70px; /* Use a altura do seu header fixo */
}
